$purple : #66005A ;
$light-purple : #AD5FAD   ;

body {
    background: radial-gradient( white, $purple, black);
}

h1{
    font-family: fantasy;
}

.btn.btn-purple {
    background-color: rgb(147, 45, 140);
    color: white;
    &:hover {
        background-color: $light-purple;
        color: white;
    }
}   

section {
    border: $light-purple solid;
    background: radial-gradient($purple, black);
}

.profilimg {
    width: 30rem;
    height: auto;
}

