$purple : #66005A ;
$light-purple : #AD5FAD   ;

body {
    background: radial-gradient($purple, black);
}

h1.text-center {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn.btn-light {
    background-color: $light-purple;

    &:hover {
        background-color: white;
    }
}   