$purple : #66005A ;
$light-purple : #AD5FAD   ;
$card-border-size : 2px ;

header{
    color: $purple;
}

body {
    width: 100%;
    background-color: black;
    color: $light-purple;
}

.navbar {
    &.navbar-expand-lg {
        background-color: $purple;
    }
    a {
      &.navbar-brand {
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      &:hover {
          color: white !important;
      }
    }
    svg {
        color: black;
        &:hover {
            color: white !important;
        }
    }
}

.btn {
    background-color: $purple;

    &:hover {
        color: $purple !important;
        background-color: white;
    }
}

span.badge {
    background-color: $purple;
}

li.list-group-item {
    background-color: $light-purple;
}

.card{
    background-color: $light-purple;
    border-width: $card-border-size;   
}

