$purple : #66005A ;
$light-purple : #AD5FAD   ;
$card-border-size : 2px ;

body {
    width: 100%;
    background: radial-gradient($purple, black);
}

.navbar {
    &.navbar-expand-lg {
        background-color: $purple;
    }
    a {
      &.navbar-brand {
        font-family: fantasy;
      }
      &.nav-link {
        &:hover {
            text-decoration: underline 3px;
        }
      }
    }
    svg {
        color: white;
    }
}

.btn {
    background-color: $purple;
    
    &:hover {
        color: $purple !important;
        background-color: white;
    }
}

span.badge {
    background-color: $purple;
}

li.list-group-item {
    background-color: $light-purple;
}

.card{
    background-color: $light-purple;
    border-width: $card-border-size;   
}

