$purple : #66005A ;
$light-purple : #AD5FAD   ;
$card-border-size : 2px ;

body { 
    background: linear-gradient($light-purple, white);
}

.navbar {
    a {
        &.nav-link{
            color: $purple !important;
            &:hover {
                color: white !important;
                text-decoration: underline 3px ;
                
            }
        }
        &.navbar-brand {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    svg {
        color: $purple !important;
        
        &:hover {
            color: white !important;
        }
    }   
}


button {
    &.nav-link {
        color: white !important;
        background-color: $purple;
    }
    &.active {
        color: $purple !important;
        background-color: gray !important;
    }

}

.card{
    background-color: $purple;
    border-color: white;
    border-width: $card-border-size;

    &-img-top {
        height : 200px ;
        object-fit: contain;
        width: 100%;
    }
}

